.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.modal_content {
  width: 30vw;
  background-color: #fff;
  height: 55rem;
  text-align: center;
  display:flex;
}


.modal h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal p {
  font-size: 16px;
  margin-bottom: 5px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.modal button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background-color: #4caf50;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover {
  background-color: lightgreen;
}
